@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .hero-details-button-wrapper{
        position: relative;
        top:0px;
        left:-1000px;
        opacity:0;
    }
    .hero-details-button{
        position: relative;
        bottom:-500px;
        left:0px;
        opacity:0;
    }
}
